html{
    height: 100%;
}

h1 {
    font-family: verdana,arial,sans-serif;
    text-align:center;
    font-size:28px;
}
h2 {
    font-family: verdana,arial,sans-serif;
    text-align:center;
    font-size:20px;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:13px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: none;
}

a:link {
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a:active {
    text-decoration:underline;
}

body {
    font-family: verdana,arial,sans-serif;
    font-size:13px;
    color: #222222;
    width: 100%;
    height: 100%;
}

#BC  { grid-area: bc; }
#A   { grid-area: a; }
#D { grid-area: d; }


.grid-container {
    display: grid;
    width: 80%;
    height: 73%;
    margin: 2.5% 10%;
    align-content: center;
    justify-self: center;
    position: relative;
    grid-template-areas: "bc a d";
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    grid-gap: 10px;
    padding: 10px;
    font-family: verdana,arial,sans-serif;
}

#BC {
    background-color:  #99ccff;
    position: relative;
    color: #000000;
    font-size: 16px;
    text-align: left;
    padding-left:10px;
}

#A  {
    background-color: #ccffff;
    position: relative;
    color: #222222;
    font-size: 16px;
    text-align: center;
}

#D {
    background-color:  #99ccff;
    position: relative;
    color: #000000;
    font-size: 13px;
    text-align: left;
    padding-left:10px;
}


